<!DOCTYPE html>
<html lang="en">

<body>
    <!-- NAVBAR -->
    <nav class="navbar autohide">
        <div id="topnav-container" class="topnav-container">
            <!-- <a id="name-button" href="index.html">Gabby Hoefer</a>
            <div class="topnav-parent"></div>
        </div> -->
        <!--Typical standard [boring ;)] main navbar across the top of page -->
            <a id="name-button" href="http://localhost:8000/public/index.html">Gabby Hoefer</a>
            <menu>
                <a href="http://localhost:8000/src/uxresearch/uxresearch.html">UX Research</a>
                <a href="http://localhost:8000/src/comingsoon/comingsoon.html">AI</a>
                <a href="http://localhost:8000/src/comingsoon/comingsoon.html">Art with Code</a>
                <a href="http://localhost:8000/src/publications/publications.html">Publications</a>
                <a href="http://localhost:8000/src/about/about.html">About</a>
            </menu>
        </div>
    </nav>




</body>

</html>