.bigprojectimg{
    background-image: url('assets/laptopblack.png');
    /* background-image: url('assets/unity-many-screens.svg'); */
    background-position: center;
    background-color: black;
}

#goal-diagram{
    width: 80%;
    height: auto;
    align-self: center;
    background-size: contain;
    /* background-image: url('assets/project_goal_diagram.png'); */

}

#goal-quote{
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    width: 409px;
    padding-left: 30px;
}

.img-with-label-label{
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-LR{
    width: 100%;
    overflow: hidden;
}

.img-with-label-img{
    height: 200px;
}

#timeline-diagram{
    width: 100%;
    /* padding-right: 30px; */
}

#unity-background-heading{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 10px;
    align-self: flex-start;

}

#unity-logo{
    height: 50px;
}

.persona-diagram{
    height: 300px;
    padding-left: 10px;
}

#participant-wheel{
    height: 460px;
    padding-right: 20px;
    align-self: end;
}

#participant-wheel-text{
    font-size: 18px;
    align-self: start;
    width: 80%;
    padding: 20px;
    margin-left: 20px;
    margin: 20px;
    /* background-color:#818181; */
}

#wheel{
    width: 30%;
    display: flex;
    justify-content: center;
    width: 50%;
    align-self: center;
}

#participant-text-list{
padding-left: 25px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

#second-finding{
    padding-top: 10%;
}

.userneed-img{
    width: 90%;
}





/* --------------------- */
/* RESPONSIVE WEB */

/* Small: phones */
@media only screen and (max-width: 481px) {
    .persona-diagram {
        width: 100%;
        height: auto;}

    #participant-wheel-text{
        font-size: 12px;
    }
    #goal-quote{
        font-size: 12px;
        padding-left: 20px;
        width: 60vw;
        padding-top:20px;
    }
    #timeline-diagram{
        padding: 20px;
    }
    #goal-diagram{
        content: url('assets/resp_project_goal_diagram.png');
    }
    #goal-quote{
        align-self: center;
        padding-top: 10px;
        padding-left: 0px;
    }



}


/* Medium: tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #timeline-diagram{
        padding: 20px;
    }
    #goal-diagram{
        content: url('assets/resp_project_goal_diagram.png');
        height: 30vh;
        width: auto;
    }
    #goal-quote{
        align-self: center;
        padding-top: 20px;
        padding-left: 0px;
    }

}


/* Large: laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #timeline-diagram{
        padding: 30px;
    }
}

/* XL: desktops */
@media only screen and (min-width: 1025px) {
    #timeline-diagram{
        padding: 30px;
    }

}