body{
    background-color: lightgray;
    color: black;
}
top{
    padding-left: 20px;
    display:flex;
    flex-direction: column;
}

#description {
    font-size: 20px;
    margin-bottom: 20px;
    width: 50vw;
}

.subheading{
    padding-left: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}

.pub a {
    color: #0062FF;
    font-weight: 600;
}

.pub-title {
    font-weight: 600;
    margin-bottom: 5px;
}
.pubs-list{
    padding-bottom: 30px;
}

.pubs-list ul {
    list-style-type: disc;
    margin-left: 20px; 
    width: 60vw;
}

.pub-authors{
    font-size: 14px;
}

/* --------------------- */
/* RESPONSIVE WEB */

/* Small: phones */
@media only screen and (min-width: 0px) and (max-width: 480px) {
    #description {
        font-size: 16px;
        width: 80vw;
    }
    .pubs-list ul {
        width: 80vw;
        margin-left: 0px;
    }
}


/* Medium: tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #description {
        font-size: 18px;
        width: 60vw;
        
}
    .pubs-list ul {
        width: 80vw;
        margin-left: 10px;
    }
}


/* Large: laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .pubs-list ul {
        width: 70vw;
        margin-left: 10px;
    }
}

/* XL: desktops */
@media only screen and (min-width: 1025px) {
 
    
}