body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: black;
    color:white;
}

.navbar{
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    padding: 5px;
    text-decoration: none;
    margin: 0px;
}

menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    width: fit-content;
    align-items: center;
}

#name-button, menu a{
    text-decoration: none;
    color: black;
    padding: 5px;
    padding-right: 20px;
    white-space: nowrap;
}

#name-button:hover, menu a:hover{
    color: white;
}

#name-button{
    width: 80vw;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}


top-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    overflow: hidden;
    padding: 10vh;
}

#landing-description-text {
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
align-items: center;
text-align: left;
display:flex;
justify-content: center;
height: 100%;
}

#landing-description-text p {
    margin:10px;
}

#landing-image-container img{
    overflow: hidden;
    height: 100%;
}

#landing-image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    overflow: hidden;
}


#bottom-question-text{
    text-align: center;
    align-self:center;
}

.bottom-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 35vh;
    background-color: #f1f1f1;
    overflow: hidden;
}

.bottom-text {
    display:flex;
    width: 0px;
    white-space: nowrap;
}

.bottom-text p {
    margin: 10px;
    z-index: 100;
    position: relative;
    white-space: nowrap;
}

/* Show bottom-text on top of bottom-img  */
.bottom-img {
    position: relative;
    overflow: hidden;
}



.bottom-column {
    display: flex;
    overflow: hidden;
}

