body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #0A0B10;
    color:white;
}


/* navbar  */

.topnav-container{
    display: flex;
    flex-direction: row;
    padding: 5px;
    text-decoration: none;
    margin: 0px;
    /* height: 15vh; */
    background: #2D2F3A;
    
}

.topnav-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
}

menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    width: fit-content;
    align-items: center;
}

menu a{
    color: #687686;
}

menu a:hover{
    color: #E8E8EA;
}

#name-button, menu a{
    text-decoration: none;
    padding: 5px;
    padding-right: 20px;
    white-space: nowrap;
}

#name-button{
    width: 80vw;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    color: #E8E8EA;
}


/* landing page */

top-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    overflow: hidden;
    padding: 10vh;
}

#landing-description-text {
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
align-items: center;
text-align: left;
display:flex;
justify-content: center;
height: 100%;
}

#landing-description-text p {
    margin:10px;
}

#landing-image-container img{
    overflow: hidden;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#landing-image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    overflow: hidden;
}


/* #bottom-question-text{
    text-align: center;
    align-self:center;
}

.bottom-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    background-color: #f1f1f1;
    overflow: hidden;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.bottom-text {
    display:flex;
    width: 0px;
    white-space: nowrap;
}

.bottom-text p {
    margin: 10px;
    z-index: 100;
    position: relative;
    white-space: nowrap;
}

/* Show bottom-text on top of bottom-img  */
/* .bottom-img {
    position: relative;
    overflow: hidden;
    width: 100%;
}



.bottom-column {
    display: flex;
    overflow: hidden;
    min-width: 200px;
    width:100%;
    background: blue;
}  */

.footer {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}


.title-subpage {
    font-weight: 600;
    font-size: 30px;
    padding: 30px;
    color: #E8E8EA;
}

row-wrapper{
    display: flex;
    flex-direction: row;
}

bold{
    font-weight: 700;    
}
blue-text{
    color:#0056D2;
}