
    <footer>
        <div class="footer">
            <div class="footer-content">
                <a id="footer-name" href="https://gabbyhoefer.com">Gabby Hoefer</a>
                    <menu-footer>
                        <a href="https://gabbyhoefer.com/uxresearch">Work</a>
                        <!-- <a href="https://ghoefer.github.io/src/comingsoon/comingsoon.html">AI & Code</a> -->
                        <a href="https://gabbyhoefer.com/publications">Publications</a>
                        <a href="https://gabbyhoefer.com/about">About</a>
                    </menu-footer>
                    <footer-icons>
                        <!-- Social media bar with all of my links -->
                        <div class="social-media-bar">
                            <a href="https://www.linkedin.com/in/ghoefer" target="_blank" class="fa light-icon fa-linkedin"></a>
                            <a href="https://github.com/ghoefer" target="_blank" class="fa light-icon fa-github"></a>
                            <a href="https://dribbble.com/gabbby" target="_blank" class="fa light-icon fa-dribbble"></a>
                            <a href="https://medium.com/@gabbyhoefer" target="_blank" class="fa light-icon fa-medium"></a>
                        </div>
                    </footer-icons>
                    <p id="footer-p">Copyright ©2024 Gabby Hoefer</p>
            </div> 
        </div>
    </footer>