<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
</head>
    <body>
    <!-- NAVBAR -->
    <nav class="navbar autohide">
        <div id="topnav-container" class="topnav-container">
  
            <a id="name-button" href="https://ghoefer.github.io/index.html">Gabby Hoefer</a>
            <a href="javascript:void(0);" class="nav-icon" onclick="responsiveBar()"><i class="fa fa-bars"></i></a>
            <menu>
                <a href="https://ghoefer.github.io/src/uxresearch/uxresearch.html">UX & AI</a>
                <!-- <a href="https://ghoefer.github.io/src/comingsoon/comingsoon.html">AI & Code</a> -->
                <a href="https://ghoefer.github.io/src/publications/publications.html">Publications</a>
                <a href="https://ghoefer.github.io/src/about/about.html">About</a>
            </menu>
        </div>
    </nav>

</body>

</html>