<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
</head>
    <body>
    <!-- NAVBAR -->
    <nav id="navbar" class="navbar autohide">
        <div id="topnav-container" class="topnav-container">
                <div id="topnav-text-container">
    
                <a id="name-button" href="https://gabbyhoefer.com">Gabby Hoefer</a>
                <a href="javascript:void(0);" class="nav-icon" onclick="responsiveBar()"><i class="fa fa-bars"></i></a>
                <menu>
                    <a href="https://gabbyhoefer.com/uxresearch">Work</a>
                    <!-- <a href="https://ghoefer.github.io/src/comingsoon/comingsoon.html">AI & Code</a> -->
                    <a href="https://gabbyhoefer.com/publications">Publications</a>
                    <a href="https://gabbyhoefer.com/about">About</a>
                </menu>
            
            </div>
        </div>
    </nav>

</body>

</html>