section{
    display: flex;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
}

/* TOP SECTION */

.top-section{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
#date{
    color: #DDD;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:0px;
    padding-top: 20px;
    margin:0;
}

.company-title{
    color: #FFF;
font-family: Helvetica;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.top-details {
    color: #DDD;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* padding-top: 8px; */
}

.top-labels{
    padding-top: 16px;

}
.padded-label {
    padding: 5px;
    border-radius: 6px;
}
.label-container {
    margin: 0;
    padding: 0;
    margin-top: 6px
}

.blue{
    background-color: blue;
    color: white;
}

#top-left{
    width: 70%;
}

#top-right{
    /* margin-right: 20px; */
    display: flex;
    width: 30%;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 30px;
}




/* EVERY INNER SECTION */
.project-section-heading{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.heading-rect{
    width: 40px;
    height: 3px;
    flex-shrink: 0;
    align-self: center;
    margin-right: 8px;
}
.heading-text {
    font-weight:700;
}



/* <-- BACKGROUND COLORS --> */

.white-bg{
    background-color:white;
}

.blue-bg{
    background-color: #1D49B2;;
}


/* TEAM */
.team-chart-teammate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.team-chart-teamname{
    align-self: center;
    font-weight: 700;
    padding-bottom: 20px;
}

.team-chart-teammate-name{
    font-weight: 700;
}

.team-chart {
    width: 50%;
    padding: 50px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}