body{
    margin:0px;
    padding:0px;
}

.title-subpage{
    font-weight: 600;
    font-size: 30px;
    padding: 30px;
    color: #E8E8EA;
}


all-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.project-container{
    height: 40vh;
    overflow: hidden;
    /* width: 90vw; */
    display: flex;
    flex-direction: row;
    margin: 20px;
    background: #1E2028;
    border-radius: 20px;
    /* transition: width 100ms ease;
    transition: height 100ms ease;
    transition: transform 100ms ease; */
    position: relative;
    padding-left: 30px;
    padding-right: 30px;

}

/* .project-container:hover{ */
    /* position: relative; */
    /* transform: translateY(-10px); */
    /* height: 45vh;
    width: 93vw;  */
/* } */

.project-left, .project-right{
    position: relative;
}

.project-left {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.project-left img{
    width: 100%;
    object-fit: cover;
}

.project-right{
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: #E8E8EA;
    padding-left: 30px;
}

.container-of-keywords{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    bottom: 0px;
    color: #858484;
    font-size: 15px;
    margin-bottom: 30px;
}

keyword {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

keyword line{
    padding: 8px;
    align-self: center;
}

keyword p, keyword line {
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}


.company-name{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 15px;
    object-fit: contain;
    align-self: flex-start;
    transition: transform 300ms ease;
}

.project-description {
    width: 90%;
    height: 100%;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

#ibm-unity-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    background-position: center;
}

/* --------------------- */
/* RESPONSIVE WEB */

/* Small: phones */
@media only screen and (max-width: 481px) {
    .project-description{
        font-size: 16px;
    }
    .container-of-keywords {
        padding-top: 20px;
        font-size: 12px;
        /* visibility: hidden; hide for smaller devices */
    }

    .project-container {
        flex-direction: column;
        height: 60vh;
    }
    .project-right{
        padding-left: 20px;
        width: 90%;
        height: 40%;
    }
    .project-left {
        width: 100%;
        height: 60%;
     }
}

/* Medium: tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .project-description{
        font-size: 18px;
    }
    .project-container {
        flex-direction: row;
        height: 40vh;
        }
    .container-of-keywords {
        font-size: 12px;
    }
    .project-right{
        padding-left: 20px;
        width: 60%;
    }
    .project-left {
    width: 40%; }
}


/* Large: laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

/* XL: desktops */
@media only screen and (min-width: 1025px) {
}


